= will_paginate @jobs

%section.jobs.panel.panel-default
  .panel-heading All available Jobs
  .panel-body
    %p Check out all valiable jobs in Toronto
  / Table
  .jobs-list.list-group
    - @jobs.each do |job|
      = link_to job, class: "list-group-item" do
        %h4.job-title.list-group-item-heading= job.title.capitalize
        %span.job-company
          %span.at-sign @
          = job.company
        %span.job-date.navbar-right= job.created_at.strftime("%d %B %y")