%h2 Job Details

%p#notice= notice
%p
  %strong Title:
  = @job.title
%p
  %strong Compnay:
  = link_to @job.company.name, @job.company
%p
  %strong Details:
  = @job.description
%p
  %strong URL:
  = link_to @job.url, @job.url

/ = link_to 'Edit', edit_job_path(@job)
= link_to 'Back', jobs_path