.jumbotron
  %h2 Welcome to Ruby on Rails Job Board
  %p The first Ruby on Rails job board in Toronto. Check the most recent 5 jobs posted.
  %p= link_to 'Check all Jobs', jobs_path, class: "btn btn-primary btn-lg"

.row
  .col-sm-12
    - @jobs.each do |job|
      .panel.panel-default
        .panel-body
          %ul.media-list
            %li.media
              .media-left
                = link_to job do
                  = image_tag "company.png", style: "width: 100px; height: 100px;", alt: "Company", title: "Company"
              .media-body
                %h4.media-heading
                  = link_to job.title.capitalize, job
                .input-group
                  .input-group-addon @
                  %p.form-control.btn-default.company
                    = link_to job.company.name, job.company
                %br/
                %p= job.description
                %span.label.label-default
                  Posted
                  \#{link_to time_ago_in_words(job.created_at), job} ago.