/ %header.centered-navigation{:role => "banner"}
/   .centered-navigation-wrapper
/     %a.mobile-logo{:href => "javascript:void(0)"}
/       %img{:alt => "Logo image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png"}
/     %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{:href => root_path} MENU
/     %nav{:role => "navigation"}
/       %ul#js-centered-navigation-menu.centered-navigation-menu.show
/         %li.nav-link
/           = link_to "Jobs", jobs_path
/         %li.nav-link
/           = link_to "New Job", new_job_path
/         %li.nav-link.logo
/           = link_to root_path do
/             -image_tag "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png", alt: "Logo image"
/         - if user_signed_in?
/           %li.nav-link
/             Welcome, #{ current_user.email}
/           %li.nav-link
/             = link_to "Sign out", destroy_user_session_path, method: 'delete'
/         - else
/           %li.nav-link
/             = link_to " Sign in", new_user_session_path
/           %li.nav-link
/             = link_to "Sign up", new_user_registration_path


%nav.navbar.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Job Board
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.nav-link
          = link_to "Jobs", jobs_path
        %li
          = link_to "New Job", new_job_path

        - if user_signed_in?
          %li.welcome
            Welcome, #{ current_user.email}
          %li
            = link_to "Sign out", destroy_user_session_path, method: 'delete'
        - else
          %li
            = link_to " Sign in", new_user_session_path
          %li
            = link_to "Sign up", new_user_registration_path
    / /.nav-collapse
  / /.container