%header#top.navbar-fixed-top.navbar-inverse{:role => "banner"}
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Job Board
    %nav.collapse.navbar-collapse.bs-navbar-collapse
      %ul.nav.navbar-nav
        %li.nav-link
          = link_to "Jobs", jobs_path
        %li.nav-link
          = link_to "Companies", companies_path

        %li.nav-link
          = link_to "New Company", new_company_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.welcome.navbar-text
            Welcome, #{ current_user.email}
          %li
            = link_to "Sign out", destroy_user_session_path, method: 'delete'
          %li
            = link_to " Post a job", new_job_path
        - else
          %li
            = link_to " Sign in", new_user_session_path
          %li
            = link_to "Sign up", new_user_registration_path