!!!
%html
  %head
    %link{:href => "//fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//fonts.googleapis.com/css?family=Titillium+Web:400,400italic,600italic,600,700,700italic,900,300italic,300,200italic,200", :rel => "stylesheet", :type => "text/css"}/

    %title Toronot Jobs Rails - #{yield(:title) || "Developer's Home"}
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = csrf_meta_tag
    = render 'layouts/shim'
  %body.index{"cz-shortcut-listen" => "true"}
    = render 'layouts/header'
    .container
      %section.main-wrapper
        = flash_messages if show_layout_flash?
        .row
          .col-sm-9
            = yield
          .col-sm-3
            %ul.list-group
              %li.list-group-item
                %span.badge= Job.all.count
                Available Jobs
            %p List some information about the site. Write some data about users, job counts, companies, and so on...
        .row
          = render 'layouts/footer'



